
body {
    margin: 0;
    font-family: 'Neue Haas Grotesk', sans-serif;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(45deg, #262626 50%, #5c5c5c 50%);
    color: #f1f1e6;
    padding: 2rem;
}

.vlyr {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f1f1e6;
}

.sportswear {
    font-size: 2.5rem;
    font-weight: lighter;
    color: #ccc6b6;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
    margin-top: 1rem;
}

nav ul li {
    font-size: 1rem;
    color: #f1f1e6;
}

.header-right {
    text-align: right;
}

.help {
    margin-bottom: 1rem;
    color: #e0dfdd;
}

.search input {
    padding: 0.5rem;
    border-radius: 2rem;
    border: none;
    width: 200px;
}

.search button {
    background: none;
    border: none;
    margin-left: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: #333;
}
