
body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #fff;
}

header {
  background: linear-gradient(45deg, #0A0A0A 50%, #616161 50%);
  color: white;
  padding: 20px;
}

.header-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.vlyr {
  color: white;
  font-weight: bold;
}

.sportswear {
  color: #D4C29A;
  margin-left: 5px;
}

.nav-links {
  flex-grow: 1;
  text-align: center;
}

.nav-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  color: #D4C29A;
  letter-spacing: 1px;
}

.actions {
  display: flex;
  align-items: center;
}

.actions input {
  border-radius: 20px;
  border: none;
  padding: 8px 15px;
  margin-right: 10px;
}

.icon {
  margin: 0 5px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
  color: #D4C29A;
}

.help {
  margin-left: 15px;
  font-size: 0.9rem;
  color: #fff;
}

footer {
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-links {
    text-align: left;
    margin-top: 10px;
  }
  .actions {
    margin-top: 10px;
    width: 100%;
  }
}
